.gb-chiphi_o2skin .price-title_o2skin .head-title_o2skin {
  font-size: 29px;
  text-align: center;
  color: #031738;
  text-transform: uppercase;
  padding-bottom: 20px; }

.gb-chiphi_o2skin .price-title_o2skin .price-text_o2skin {
  font-size: 17px;
  padding: 0 8%;
  text-align: center; }
