.gb-dungdemuncanbuocthanhcong_o2skin .gb-dungdemuncanbuocthanhcong_o2skin-right .failed-cta-banner_o2skin .failed-cta-banner-content {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 15px 30px;
  font-size: 20px;
  margin: 0 auto; }

.gb-dungdemuncanbuocthanhcong_o2skin .gb-dungdemuncanbuocthanhcong_o2skin-right .failed-cta-banner-des_o2skin {
  font-size: 18px;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 30px 15px 30px;
  text-align: center; }
