.gb-locchekbox-sidebar-ruouvang{
  .widget-title-sidebar-ruouvang{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: $color-1;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-main-ruouvang;
  }
  ul{
    li{
      a{
        display:  block;
        position: relative;
        line-height: 30px;
        color: rgba(84,84,84,.8);
        &:before{
          content: " ";
          width: 14px;
          height: 14px;
          border-style: solid;
          border-width: 1px;
          margin-right: 8px;
          display: block;
          float: left;
          margin-top: 7px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
        }
        &:hover{
          color: $color-main1-ruouvang;
          span{
            border-color: $color-main1-ruouvang;
          }
        }
        span{
          background: rgba(84,84,84,.05);
          color: rgba(84,84,84,.8);
          float: right;
          font-size: .6875rem;
          line-height: 1;
          padding: 6px 10px 4px!important;
          border-radius: 10px!important;
          -webkit-border-radius: 10px!important;
          -moz-border-radius: 10px!important;
          text-align: center;
          min-width: 10px;
          margin-top: -1px;
          border-width: 1px;
          border-style: solid;
        }
      }
    }
  }
}